.float-left {
    display: block;
    float: left;
    margin-right: 25px;
}

.float-right {
    display: block;
    float: right;
    margin-left: 25px;
}

.image-small {
    width: 125px;
}

.image-medium {
    width: 250px;
}

.image-med-large {
    width: 375px;
}

.image-large {
    width: 500px;
}

@include media-query($on-palm) {
    .image-medium, .image-large {
        width: 100%;
    }
}