<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="landingcontainer">
      <div class="landingcell">
        <img width="300px" src="/assets/logo_industries_white.svg" alt="OpenFlexure Industries">
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
